extends layout

block content
  h1= title

  div#alarm-g(class=['alert', 'alert-success'], role='alert', style="display:none;")
  div#alarm-b(class=['alert', 'alert-danger'], role='alert', style="display:none;")

  div#power_chart


