doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(type="text/javascript", src="https://www.google.com/jsapi")
    script(src='/javascripts/controller.js')

  body
    block content
